.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centered img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .centered p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  